<div class="grid lg:grid-cols-2 lg:mt-0 mt-10 items-center h-full sm:text-start text-center">
    <div class="flex flex-col gap-10 mx-auto">
        <p class="2xl:text-8xl xl:text-7xl sm:text-6xl min-[350px]:text-5xl text-4xl  font-semibold">
            Your Key <br />
            to Knowing <br />
            Used Car Prices
        </p>
        <p class="border-l border-l-[#333333] px-5 xl:text-2xl min-[350px]:text-xl text-lg text-[#828282]">We Help You Discover the Real Value of Your
            Car</p>
        <div class="flex max-[350px]:flex-col gap-5 min-[350px]:text-xl font-medium mt-10 mx-auto sm:mx-0">
            <a [routerLink]="'Quiz'" class="btn-fill-sun">Find Out Now!</a>
            <a [routerLink]="'HowItWorks'" class="flex gap-2 items-center justify-center text-sun">Know more <img src="assets/right.png" class="w-3 mt-1" alt=""></a>
        </div>
    </div>
    <img src="assets/landingPage.png" class="mx-auto" alt="landing Page Photo">
</div>