<div class="h-full w-full flex flex-col justify-center items-center text-center bg-[#fea918]" >
    <span class="text-white sm:text-[15rem] text-[10rem] sm:h-32 h-20" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">404</span>
    <span class="sm:text-4xl text-2xl text-white" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Opps... Page Not Found.</span>
    <img src="assets/zz.png" class="sm:w-96 aspect-square mr-6" alt="">
    <a [routerLink]="''" class="sm:text-4xl text-2xl font-medium rounded-full text-white bg-black py-3 leading-none px-12" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Go Back</a>
</div>