<div class="flex flex-col gap-10 sm:text-2xl min-[350px]:text-xl text-lg h-full mt-20 sm:text-start text-center">
    <h1 class="text-sun font-bold">"Welcome to the Future of Car Valuation"</h1>
    <p>
        At QuizCars, we're transforming the way car owners and enthusiasts understand their vehicle's value.
        Our innovative platform is powered by a sophisticated model trained on extensive data, ensuring that every
        prediction we make is as accurate as possible. By answering a few simple questions about your car, you're not
        just providing us with information; you're enabling our advanced algorithm to analyze and predict the market
        value of your vehicle with unparalleled precision.
    </p>
    <h1 class="text-sun font-bold">"How It Works: A Simple Process"</h1>
    <p>
        Our process is designed to be straightforward and user-friendly. First, you fill out a form with details about
        your
        car, such as its make, model, year, mileage, condition, and any notable features. This information is crucial
        for
        our model to accurately assess the car's value. Once you've submitted your answers, our AI-powered predictor
        takes
        over. It analyzes the data you've provided, considering over 200 factors to give you a precise price estimate.
        The
        more accurate your answers, the more accurate the price prediction will be.
    </p>
    <a [routerLink]="''" class="btn-fill-sun w-fit self-end sm:mx-0 mx-auto">Start Now!</a>
</div>